html * {
  box-sizing: border-box;
}


a {
  color: black;
}
a::after {
  content: "\2934";
  line-height: 1;
}


@media (prefers-color-scheme: dark) {
  html {
    color: rgb(237, 232, 218);
    background: rgb(12, 11, 43);
  }
  a {
    color: rgb(237, 232, 218);
  }
}

html {
  font-size: 16.5px;
  font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}
