html * {
  box-sizing: border-box;
}


a::after {
  content: "\2934";
  line-height: 1;
}



html,
button {
  color: rgb(237, 232, 218);
  border-color: rgb(237, 232, 218);
  background: rgb(12, 11, 43);
}

a {
  color: rgb(237, 232, 218);
}


html {
  font-size: 16.5px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

ul {
  margin-bottom: 2em;
}